* {
    box-sizing: border-box;
}
body {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
.container {
    max-width: 1200px;
    margin: auto;
    padding: 10px;
}
a {
    color: #e6a563;
}
a:hover {
    opacity: 0.8;
}
h2 {
    text-align: center;
}
img {
    width: 100%;
}
/**Header**/
header {
    background-color: #efefef;
}
header a {
    text-decoration: none;
    color: #000;
    padding: 20px 0;
}
header a:hover {
    color: #e6a563;
}
header .container {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
header .container a:first-child {
    width: 250px;
    margin-right: auto;

}
header ul {
    list-style-type: none;
    display: flex;
    align-items: center;
}
.button {
    background-color: #e6a563;
    border-radius: 10px;
    padding: 5px 10px;
}
.button:hover {
    background-color: #fff;
}
nav li {
    margin: 0 1em;
    position: relative;
}

.sub-menu li{
    margin: 0;
}

.sub-menu {
    flex-direction: column;
    position: absolute;
    left: 0;
    align-items: flex-start;
    background-color: #fff;
    border: 1px solid #efefef;
    padding: 10px 20px 20px 20px;
    border-radius: 10px;
    width: 120px;
    margin-top: 10px;
    gap: 2em;
    display: none;
}

nav li:hover > .sub-menu {
    display: flex;
}

.navToggler, .navTogglerMenu {
    display: none;
}

@media (max-width: 767px) {
    
    header nav {
        position: absolute;
        width: 100%;
        top: 120px;
        left: 0;
    }

    header nav ul {
        flex-direction: column;
        background-color: #efefef;
        padding: 0;
        gap: 0;
        margin: 0;
        border-top: solid 1px #fff;
    }

    header nav li {
        text-align: center;
        border-bottom: solid 1px #fff;
        width: 100%;
    }

    nav li a {
        display: block;
        padding: 20px 0;
        width: 100%;
    }

    nav .button {
        width: 100%;
        border-radius: 0;
        display: block;
        padding: 20px;
    }

    header nav li:last-child {
        padding: 0;
    }

    .sub-menu {
        display: flex;
        position: relative;
        border-radius: 0;
        width: 100%;
        padding: 0;
    }

    .navTogglerMenu {
        display: block;
    }

    .navTogglerMenu img {
        width: 25px;
    }

    .menuClose, nav, .navToggler:checked ~ .navTogglerMenu .menuOpen  {
        display: none;
    }

    .navToggler:checked ~ nav, .navToggler:checked ~ .navTogglerMenu .menuClose {
        display: block;
    }
}